In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./datasets/Death_data_2.csv", sep=",", quotechar='"')
df[20:30]

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
20,21,2012,4,Suicide,0,M,65.0,Native American/Native Alaskan,100,Home,HS/GED
21,22,2012,4,Suicide,0,F,52.0,White,100,Home,HS/GED
22,23,2012,4,Homicide,0,F,47.0,Black,100,Home,HS/GED
23,24,2012,4,Suicide,0,M,19.0,White,100,Home,Some college
24,25,2012,4,Homicide,0,M,51.0,White,100,Other specified,HS/GED
25,26,2012,4,Homicide,0,M,41.0,White,100,Other specified,HS/GED
26,27,2012,4,Suicide,0,M,22.0,Native American/Native Alaskan,100,Other specified,HS/GED
27,28,2012,4,Suicide,0,M,21.0,White,100,Other specified,HS/GED
28,29,2012,4,Suicide,0,M,56.0,White,100,Home,HS/GED
29,30,2012,4,Homicide,0,M,43.0,White,100,Other specified,HS/GED

In [4]:
# Clean up 
df[df["month"] > 12]
df = df[df["month"] <= 12]  

df[df["year"] > 2014]
df = df[df["year"] <= 2014] 

pd.unique(df["intent"]).tolist()
df = df[df["intent"].isna() == False]

pd.unique(df["sex"]).tolist()
df["sex"] = df["sex"].apply(lambda x: "M" if x == "Male" else x)
df["sex"] = df["sex"].apply(lambda x: "F" if x == "Female" else x)


df = df[df["age"].isna() == False]
idk = pd.unique(df["age"]).tolist()
idk.sort()
idk
df = df[df["age"] <= 107]

In [5]:
# Wie hoch ist die Zahl der jährlichen Todesfälle durch Selbstmord 
# mit einer Waffe inden Vereinigten Staaten zwischen 2012 und 2014, aufgeschlüsselt nachGeschlecht?
years = pd.unique(df["year"]).tolist()
M = df[df["sex"] == "M"]
F = df[df["sex"] == "F"]
for year in years:
    print("year: " + str(year))
    print("Males: " + str(M[M["year"] == year]["year"].count()))
    print("Female: " + str(F[F["year"] == year]["year"].count()))
    print()

year: 2012
Males: 28836
Female: 4724

year: 2013
Males: 28781
Female: 4841

year: 2014
Males: 28713
Female: 4882

In [19]:
# Wie hoch ist die Zahl der Todesfälle durch Schusswaffen nach Rasse in den
# Vereinigten USA pro 100.000 Menschen von 2012 bis 2014?
usa_einwohner = 333_300_000
races = pd.unique(df["race"]).tolist()
print("deaths per 100000 people")
for race in races:
    deaths = df[df["race"] == race]["year"].count()
    print(str(race) + ": " +str(deaths/(usa_einwohner/100_000)))

deaths per 100000 people
Asian/Pacific Islander: 0.39753975397539754
White: 19.86918691869187
Native American/Native Alaskan: 0.27482748274827484
Black: 6.9882988298829884
Hispanic: 2.706270627062706

In [22]:
# Wie hoch ist die jährliche Zahl der Todesfälle durch Schusswaffen in den Vereinigten
# USA im Durchschnitt von 2012 bis 2014, aufgeschlüsselt nach Ursachen?

intents = pd.unique(df["intent"]).tolist()
for intent in intents:
    deaths = df[df["intent"] == intent]["year"].count()
    print(str(intent) + ": " +str(deaths))

Suicide: 63169
Undetermined: 806
Accidental: 1638
Homicide: 35164

In [24]:
# Wie hoch ist der Anteil von 100.000 der jährlichen Todesopfer durch Waffen in den
# Vereinigten Staaten von 2012 bis 2014, nach Ursache?
intents = pd.unique(df["intent"]).tolist()
print("deaths per 100000 people")
for intent in intents:
    deaths = df[df["intent"] == intent]["year"].count()
    print(str(intent) + ": " +str(deaths/(usa_einwohner/100_000)))

deaths per 100000 people
Suicide: 18.952595259525953
Undetermined: 0.24182418241824183
Accidental: 0.49144914491449143
Homicide: 10.550255025502551

In [29]:
# Wie hoch ist der prozentuale Anteil der jährlichen Todesfälle durch
# Selbstmordwaffen in den in den Vereinigten Staaten von 2012 bis 2014,
# aufgeschlüsselt nach Jahren?
years = pd.unique(df["year"]).tolist()
for year in years:
    deaths = df[df["year"] == year]
    deaths = deaths[deaths["intent"] == "Suicide"]["year"].count()
    print(str(year) + ": " +str(deaths))

2012: 20664
2013: 21171
2014: 21334